* img {
  width: 60px;
  height: 60px;
}
*{
  margin:0;
  padding: 0;
}
.MuiCardContent-root {
  display: display;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: #000;
  background-color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.MuiPaper-root {
  margin: 0.2rem;
}

.MuiPaper-root:hover {
  transform: scale(1.09);
  box-shadow: 
  5px 5px 10px #000000, 
   -5px -5px 10px #000000;
}
.lowPrice {
  color: rgba(255, 0, 0, 0.6);
}
.highPrice {
  color: rgba(47, 214, 47, 0.705);
}
h6{
  
  font-weight: 500;
}

h2{
  color: rgb(117, 117, 190);
  font-size:20px;
}